
	<div class="reg_block" id="show_welcome">
		<%=form_for :user, :url => { :action => "createuser" } do |f|  %>
		
			<h1>Регистрация нового пользователя</h1>
			<table>
				<tr>
					<td>Ваша фамилия и инициалы</td>
					<td><%=f.text_field :name%></td>
				</tr>
				<tr>
					<td>Удобный для вас логин </td>
					<td><%=f.text_field :nik , :maxlength => 20, :class=>"i1" %></td>
				</tr>
				<tr>
					<td>Пароль</td>
					<td><%=f.password_field :pas , :class=> "i2"%></td>
				</tr>
				<tr>
					<td>Подтверждение пароля</td>
					<td><%=f.password_field :pas_confirmation, :class=>"i1" %></td>
				</tr>
				<tr>
					<td>Номер предметной комиссии </td>
					<td><%=f.text_field :predmet_comissia , :maxlength => 2,  :class=>"i3"%> (если вам он известен)</td>
				</tr>
			</table>
			<%= f.submit "Готово" , :class=>"button_submit" %>
			
		<%end%>
	</div>

