#encoding: utf-8

<div class="all_first">
	<div class="all_body">
		<p class="title"> Здравствуйте, <%=@user.name%> <p>
		<%= link_to "Создать новый календарный план",  title_path, :class=>"button_submit"%>	
		
		<table class="cabinet">
			<tr>
				<th> Название дисциплины </th>
				<th> Последняя редакция </th>
				<th colspan="4"> Действия </th>
			</tr>
			<%if @cabinet_plans.count==0%>
				<tr > <td class="d9">ничего не создано</td><td class="d7"></td>
					<td class="d8"></td><td class="d8"></td> </tr>
			<%else%>
				<%@cabinet_plans.each do |one_plan|%>
					<tr>
						<td class="d6"> <%=one_plan.ktitl.nil? ? "(без названия)" : one_plan.ktitl.pregmet%> </td>
						<td class="d7"> <%=one_plan.ktitl.nil? ? " " : format_plan_data(one_plan.ktitl.updated_at) %>  </td>
						<td class="plan_option"> просмотр </td>
						<td class="plan_option"> печатать </td>
						<td class="plan_option"> <%=link_to "редактировать", title_path(one_plan.id)%> </td>
						<td class="plan_option"> удалить </td>
					</tr>
				<%end%>
			<%end%>
		</table>
	</div>
</div>
