#encoding: utf-8

<div class="all_first">
  <div class="first_blok">
	<%=form_for :session , :url => { :action => "createsession" } do |f|%>
		<h1>Вход для зарегистрированных пользователей</h1>
		<p>Логин <%=f.text_field :nik , :maxlength => 20, :class=>"i1" %></p>
		<p>Пароль <%=f.password_field :pas%></p>
		<%= f.submit "Войти" , :class=>"button_submit"%>
	<%end%>
  </div>
  <div class="info_blok">
		<%=render :partial=>'info'%>
		<%=render :partial=>'welcome'%>
  </div>

</div>
