#encoding: utf-8

<div class="all_first">

   <div class="all_title">
       <div id="header">
            <p> СПИСОК  ЛИТЕРАТУРЫ </p>
       </div>
       <%= form_for :klib, :url => { :action => "save_lib" }  do |f|%>
          <%= f.hidden_field :kplan_id%>
          <%= @error_message %>
          <% (1..24).each do |str| %>
            <%= f.text_field "literatura#{str}", :maxlength => 80, :class=>"i17" %> 
          <%end%>
          <%= submit_tag "Сохранить"%>
        <% end %>

        <p> </p>
   </div>
</div>
<div>
  Место для кнопок
</div>