#encoding: utf-8

<div class="all_first">

   <div class="all_title">
      <div id="header">
            <p> СЕРГИЕВО-ПОСАДСКИЙ </p>
            <p> КИНОВИДЕОТЕХНИЧЕСКИЙ КОЛЛЕДЖ </p>
      </div>
      <table>
        <tr>
            <td>
                  <p> УТВЕРЖДАЮ </p>
                  <p> Зам.директора </p>
                  <p> по учебной работе </p> 
                  <p> <big>                              </big></p>
                  <p> «<big>    </big>» <big>              </big> 20<big>   </big> г.</p>
            </td>
            <td width="170px"></td>
            <td>
                  <p> Рассмотрено на заседании </p>
                  <p> предметной комиссии </p>
                  <p> «<big>    </big>» <big>               </big> 20<big>   </big> г.</p>
                  <p> Протокол № <big>                     </big> </p>
                  <p id="spec">Председатель комиссии</p>
                  <p> <big>                                   </big></p>
            </td>
        </tr>
      </table>
      <p id="title"> КАЛЕНДАРНЫЙ ПЛАН </p>

      <%= form_for :ktitle, :url => { :action => "save_title" } do |f|%>
                  <%= f.hidden_field :kplan_id%>
                  <p> Учебных занятий по предмету 
                        <%= f.text_field :pregmet , :maxlength => 120, :class=>"i1"%> </p>
                  <p> Для специальности
                        <%= f.text_field :spec , :maxlength => 40, :class=>"i2"%> </p>
                  <p > Группы 
                        <%= f.text_field :group , :maxlength => 15, :class=>"i4"%> </p>
                  <div id="centr">
                        <p>Курс  
                              <%= f.text_field :kurs , :maxlength => 10, :class=>"i5" %> </p>
                         <p> Семестр 
                              <%= f.text_field :semestr , :maxlength => 15, :class=>"i6" %> </p>
                        <p> Учебный год 
                              <%= f.text_field :god , :maxlength => 18, :class=>"i7"%> </p>
                        <p> Составлено в соответствии с программой, утвержденной</p>
                        <p><%= f.text_field :uchregd , :maxlength =>57, :class=>"i8" %> </p>
                  </div>
                  <div id="midle">
                        <p> Число недель
                              <%= f.text_field :ch_ned , :maxlength =>15, :class=>"i9" %> </p>
                        <p> Число занятий на уроках  
                              <%= f.text_field :ch_zan , :maxlength =>15, :class=>"i10"%> часов</p>
                        <p> Лабораторные работы
                              <%= f.text_field :ch_labrab , :maxlength =>15, :class=>"i11" %> часов</p>
                        <p> Курсовое проектирование  
                              <%= f.text_field :ch_kprtk , :maxlength =>15, :class=>"i12" %> часов</p>
                        <p> Самостоятельная нагрузка студентов 
                              <%= f.text_field :ch_smr , :maxlength =>15, :class=>"i14" %> </p>
                  </div>
                  <%= f.submit "Сохранить" %>
      <% end %>
   </div>

<div class="all_s">
      

</div>

</div>
